<div (click)="$event.stopPropagation()"  class="container">
  <div *ngIf="!isInit" class="navbar">
    <img
      class="menu-icon"
      src="./assets/images/home/burger_menu.png"
      alt="menu"
    />
   
      <img class="home-icon" src="./assets/images/home/home_icn.png" alt="home" />
     <div class="active-icon"></div>

    <img id="oval" src="./assets/images/home/oval.png" alt="oval">
  </div>
  <div *ngIf="!isInit" class="content">
    <div class="content-header">
      <div class="logo-container"><img id="web-logo" src="./assets/images/home/logo.png" alt="logo" /></div>
      
      <div class="toast-container" *ngIf="showMessage"><div class="toast-message">{{message}}</div>
    <img (click)="showMessage=false"  class="toast-close" src="./assets/images/home/close.png" alt="close">
    </div>
      <img id="header-logo" src="./assets/images/home/sync.png" alt="sync" />
      <div class="user-dropdown">
        <img (click)="profileDropdown()" id="header-logo" src="./assets/images/home/profile.png" alt="profile" />
      <div *ngIf="showProfileDropdown"  class="dropdown-content">
        <a href="#home"><div id="dropdown-text">Change Password</div>
          <div class="dropdown-icon"><img src="./assets/images/home/share.png" alt=""></div></a>
        <a  (click)="signout()" href="#about"><div id="dropdown-text"> Sign Out</div>
         <div class="dropdown-icon"><img src="./assets/images/home/log_out.png" alt=""></div></a>
  
      </div>
      </div>
      
    </div>
    <div   class="top-navbar">
        <div class="logo-container"><div class="sites">Sites</div></div>
        <div class="search-field">
            <input (keyup)="filterSearch($event)" 
            [(ngModel)]="searchTerm"  id="search-input" type="text" placeholder="Search">
            <!-- <img id="search-icn" src="./assets/images/home/search.png" alt="search"> -->
            <img (click)="openAddPopup()" id="add-btn" src="./assets/images/home/add_btn.png" alt="add">
        </div>
       
    </div>
    <div class="content-body">
        <div *ngIf="isEmpty" class="add-hint">
            <div class="hint-text">Please Click on the “+” symbol 
                to add sites</div>
        </div>
      
          <div class="sort-container">
            <div class="sort-heading">Social Media</div>
            <div class="filter-number">{{siteListLength}}</div>
            <img id="dropdown-icon" (click)="filterDropdown()" src="./assets/images/home/path_copy.png" alt="folder">
            <div *ngIf="showFilterDropdown"  class="filter-dropdown-content">
              <a (click)="searchDropDown('E-COMMERCE')"><div id="dropdown-text">E-Commerce</div>
                </a>
              <a (click)="searchDropDown('OTHER')"><div id="dropdown-text"> Other</div>
               </a>
               <a (click)="searchDropDown('HEALTH')"><div id="dropdown-text"> Health</div>
               </a><a (click)="searchDropDown('SOCIAL_MEDIA')"><div id="dropdown-text"> Social Media</div>
               </a>
            </div>
          </div>
         
          <div  class="card-list">
            <div *ngFor="let site of siteListData;index as i" (click)="goToSiteDetails(i)" class="card-container">
              <div class="details">
                <img class="app-icon" [src]=site.imageurl alt="face">
                <div class="column-flex"><div class="app-heading">{{site.siteName}}</div>
                <div class="details"> <img id="copy-icon" (click)="copyText($event,site.sitePassword)" src="./assets/images/home/copy.png" alt="copy">
                  <span id="copy-text">Copy Password</span></div>
               
              </div>
               
              </div>
              <div class="link-container">{{site.url}}</div>
            </div>
          </div>
        </div>
      
          <app-add-site *ngIf="addDialog" class="add-site-container" [siteDetails]="siteDetailsList[formIndex]"  [dialogType]="dialogType" (onCloseDialog)="closeAddPopup()"></app-add-site>
        
    </div>
    
  </div>
