<div class="container">
  <div class="navbar">
    <img
      class="img-icon"
      src="./assets/images/home/burger_menu.png"
      alt="menu"
    />
    <img class="home-icon" src="./assets/images/home/home_icn.png" alt="home" />
  </div>
  <div class="content">
    <div class="content-header">
      <div class="logo-container"><img id="web-logo" src="./assets/images/home/logo.png" alt="logo" /></div>
      <img id="header-logo" src="./assets/images/home/sync.png" alt="sync" />
      <img id="header-logo" src="./assets/images/home/profile.png" alt="profile" />
    </div>
    <div class="top-navbar">
        <div class="logo-container"><div class="sites">Sites</div></div>
        <div class="search-field">
            <input id="search-input" type="text" placeholder="Search">
            <!-- <img id="search-icn" src="./assets/images/home/search.png" alt="search"> -->
            <img id="add-btn" src="./assets/images/home/add_btn.png" alt="add">
        </div>
       
    </div>
    <div class="content-body">
        <div class="add-hint">
            <div class="hint-text">Please Click on the “+” symbol 
                to add sites</div>
        </div>
    </div>
  </div>
</div>
