#modal-content-wrapper {
  box-sizing: border-box;
  height: 598px;
  width: 768px;
  /* border: 1px solid #979797;
    border-radius: 10px; */
  background-color: #ffffff;
}
.container {
  display: flex;
  flex-direction: column;
  padding: 30px;
}
#heading {
  color: #3c4857;
  font-family: "Open Sans";
  font-size: 30px;
  font-weight: 600;
}
.form-class {
  display: flex;
  flex-direction: column;
}
.label-heading {
  margin-top: 30px;
  color: #949ca5;
  font-family: "Open Sans";
  font-size: 18px;
}
.label-input {
  margin-top: 20px;
  box-sizing: border-box;
  height: 36px;

  border: 1px solid #f5f7fb;
  border-radius: 4px;
  background-color: #f5f7fb;
  outline: none;
}
.flex-class {
  display: flex;
  justify-content: space-between;
}
.flex-input {
  margin-top: 20px;
  box-sizing: border-box;
  height: 36px;
  width: 341px;
  position: relative;
  border: 1px solid #f5f7fb;
  border-radius: 4px;
  background-color: #f5f7fb;
  outline: none;
}
#blink-icon {
  position: absolute;
  right: 50px;
  align-self: center;
  margin-top: 20px;
  color: lightblue;
}
#drop-icon {
  height: 8.93px;
  width: 14px;
  position: absolute;
  right: 50px;
  align-self: center;
  margin-top: 20px;
}
.notes-input {
  height: 61px;
  margin-top: 20px;
  box-sizing: border-box;

  border: 1px solid #f5f7fb;
  border-radius: 4px;
  background-color: #f5f7fb;
  outline: none;
}
.button-container {
  display: flex;
  margin-top: 20px;
  align-self: flex-end;
}
.reset-btn {
  box-sizing: border-box;
  padding: 10px 60px;
  border: 2px solid #0e85ff;
  border-radius: 4px;
  background-color: #ffffff;
  margin-right: 20px;
  color: #0e85ff;
  font-family: "Open Sans";
  font-size: 18px;
  font-weight: 600;
  text-align: center;
}
.btn-save {
  box-sizing: border-box;
  padding: 10px 60px;
  border: 2px solid #0e85ff;
  border-radius: 4px;
  background-color: #0e85ff;
  margin-right: 20px;
  color: #ffffff;
  font-family: "Open Sans";
  font-size: 18px;
  font-weight: 600;
  text-align: center;
}
